{% extends 'base.html' %}

{% block title %}سبد خرید - {% if cart|length < 1 %}
    خالی است
    {% else %}
    برای ادامه تسویه حساب بروید
  {% endif %}

{% endblock %}

{% block content %}


<div class="container-lg pt-4 mt-5">
  {% if cart|length > 1 %}
  {% for item in cart %}
    {% with product=item.product %}
  <div class="p-4 mt-2 border">
    <h1>{{ product.name }}</h1>
    <p><span class="mx-3">قیمت: {{ item.price }}</span><span>قیمت کل: {{ item.total_price }}</span></p>
    <div class="d-flex">
      <form class="w-50" action="{% url 'remove_from_cart_url' product_id=product.id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="حذف از کارت"/>
      </form>
      <form class="w-50 d-flex" method="post" action="{% url 'add_to_cart_url' id=product.id %}">
        {% csrf_token %}
        {{ item.u_q_form }}
        <input type="submit" class="btn btn-primary" value="افزودن به کارت"/>
      </form>
    </div>
  </div>
  {% endwith %}
  {% endfor %}
  <div class="p-4 mt-2 border">
    <div class="row">
      <div class="col-6">
        قیمت کل : {{ total_price }} 
      </div>
      <div class="col-6">
        <a href="" class="btn btn-lg btn-secondary">ادامه جهت تسویه حساب</a>
      </div>
    </div>
  </div>
  {% else %}<div class="p-4 mt-2 border">
  <CENTER><h1>سبد خرید شما خالی است</h1>
  <p>برای مشاهده محصولات و انتخاب و افزودن به سبد خرید به <a href="{% url 'home_url' %}" style="text-decoration: none;">صفحه فروشگاه</a> مراجعه کنید. </p>
  </CENTER></div>
  {% endif %}
</div>


{% endblock %}
