@import url(fontiran.css);

body {
    font-family: iranyekan !important;
    direction: rtl;
    background-color: #1A202C;
    color: white;
}

.border,* {
    border-color: #171d27 !important
}
.navbar-dark{
    border-color: #171d27 !important
}
.txt-search, .btn-search, .form-control {
    background-color: #20283a !important;
    color: rgb(199, 199, 199) !important;
    border: none;
}

.txt-search, .btn-search {
    outline: none !important;
    padding: 6px 10px;
}

.navbar-brand {
    font-weight: 600;
}

.txt-search {
    border-radius: 50px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-left: 0px !important;
}
.btn-search {
    border-radius: 50px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin-right: 0px !important;
}

.shop-content-container .img-container {
    width: 100%;
    height: 300px;
}

.shop-content-container .img-container img {
    width: 100%;
    height: 100%;
}

.shop-content-container {
    border: solid 0.5px #d6d6d6;
    padding: 10px;
}

.shop-content-container:hover {
    transform: scale(1.01);
    transition: all 0.1s;
}

.shop-detail-content .img-container img {
    width: 100%;
    height: 300px;
}

.btn {
    border-radius: 0px;
    font-weight: 300;
}

.btn-login {
    background-color:rgb(34, 55, 90);
    border: 0px;
}