{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.dark.css' %}">
</head>
<body>
<!-- start header -->

<nav class="navbar navbar-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">فروشگاه آنلاین</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home_url' %}">صفحه اصلی</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">وبلاگ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cart_detail_url' %}">سبد خرید</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout_url' %}">خروج از حساب کاربری</a>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            احراز هویت
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="{% url 'register_url' %}">ثبت نام در سایت</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'login_url' %}">ورود به سایت</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex">
        <input class="txt-search text-black-50 me-2" type="search" placeholder="دنبال چیزی میگردید؟" aria-label="جستجو">
        <button class="btn-search" type="submit"><span><i class="fas fa-search" id="searchIcon"></i></span></button>
      </form>
    </div>
  </div>
</nav>

<div class="container-lg container-fluid mt-5 pt-5">
    <div class="text-center mb-5">
        <h1>به فروشگاه آنلاین ما خوش آمدید</h1>
        <p>سعی کنید پس از خرید و دریافت محصول مورد نظر با نظرات خود از ما حمایت کنید</p>
    </div>
    
    <hr>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{  message.extra_tags }}">
          {{ message.message }}
        </div>
      {% endfor %}
    {% endif %}
</div>
<!-- end header -->
<!-- start content -->
{% block content %}{% endblock %}
<!-- end content -->
<!-- start footer -->
<footer>
  <div class="col-12 mt-5 pt-5">
    <div class="text-center">
      <h4 style="font-weight: 800;">فروشگاه آنلاین</h4>
      <p>تمامی حقوق برای وبسایت فروشگاه آنلاین محفوظ است. 1400-2021</p>
      <span style="font-color: gray">طراحی شده توسط اهورا عالی پور</span>
    </div>
  </div>
</footer>
<!-- end footer -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'fontawesome/js/all.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
  {% block 'js' %}

  {% endblock %}
</script>
</body>
</html>
