{% extends 'base.html' %}


{% block title %}ورود به سایت{% endblock %}

{% block content %}

  <div class="container-lg container-md container-fluid">
    <div class="justify-content-center d-flex">
      <form method="post" class="col-4">

        {% csrf_token %}
        {{ login_form.as_p }}
        <div class="d-grid">
          <input type="submit" value="ورود به حساب کاربری" class="btn btn-login btn-lg text-white my-4 rounded-1 btn-block">
        </div>
      </form>
    </div>
  </div>

{% endblock %}